---
import Layout from "../layouts/Layout.astro";
import PreFooter from "../components/PreFooter.astro";
import PageTitle from "../components/PageTitle.astro";
import AddressInfo from "../components/AddressInfo.astro";
import RepresentativesSearchable from "../components/RepresentativesSearchable.astro";
import Heading from "../components/Heading.astro";

interface Representative {
  name: string;
  phone: string;
  email: string;
  coveredRegions: string[];
}

const representatives: Representative[] = [
  {
    name: "Hiriscau Florin",
    phone: "+40-742-106.661",
    email: "florin.hiriscau@imcop.ro",
    coveredRegions: ["Alba", "Bihor", "Cluj", "Maramureş"],
  },
  {
    name: "Popa Eugen",
    phone: "+40-744-783.538",
    email: "eugen.popa@imcop.ro",
    coveredRegions: ["Argeş", "Braşov", "Sibiu", "Vâlcea"],
  },
  {
    name: "Farcas Cristian Ion",
    phone: "+40-742-106.603",
    email: "cristian.farcas@imcop.ro",
    coveredRegions: [
      "Bucureşti",
      "Buzău",
      "Constanţa",
      "Dâmboviţa",
      "Ilfov",
      "Prahova",
    ],
  },
  {
    name: "Domahidi Ferenc",
    phone: "+40-742-106.662",
    email: "ferenc.domahidi@imcop.ro",
    coveredRegions: ["Bistriţa-Năsăud", "Covasna", "Harghita", "Mureş"],
  },
  {
    name: "Trusca Ovidiu",
    phone: "+40-742-106.628",
    email: "ovidiu.trusca@imcop.ro",
    coveredRegions: [
      "Arad",
      "Caraş-Severin",
      "Dolj",
      "Gorj",
      "Hunedoara",
      "Timiş",
    ],
  },
];
---

<Layout>
  <div class="mx-auto w-full max-w-[1200px] px-4 py-4">
    <main class="pb-10 text-lg sm:pb-16">
      <PageTitle title="Contact" />
      <section class="mt-12 grid gap-8 sm:mt-16 sm:gap-12 md:grid-cols-2">
        <AddressInfo
          title="Sediul social"
          streetAddress="400420, B-dul Nicolae Titulescu 16/12"
          city="Cluj-Napoca, Cluj"
          phoneNumber="+40-264-414041"
        />
        <AddressInfo
          title="Fabrica"
          streetAddress="515900, Str. Octavian Goga 56"
          city="Teius, Alba"
          phoneNumber="+40-258-851856"
        />
      </section>
      <section class="mt-12 sm:mt-16">
        <Heading text="Reprezentanți zonali" />
        <RepresentativesSearchable representatives={representatives} />
      </section>
    </main>

    <PreFooter />
  </div>
</Layout>
