---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PreFooter from "../components/PreFooter.astro";
import { Image } from "astro:assets";
import rectangle44 from "../assets/images/rectangle44.png";
import rectangle35 from "../assets/images/rectangle35.png";
import imcop1 from "../assets/images/imcop1.png";
import line6 from "../assets/images/line6.png";
import line7 from "../assets/images/line7.png";
import Heading from "../components/Heading.astro";
---

<Layout>
  <div class="mx-auto w-full max-w-[1200px] px-4 sm:px-6 lg:px-8">
    <Header />
    <main class="pb-10 text-lg sm:pb-16">
      <div
        class="rectangle1-gradient text-primary relative my-10 py-12 text-center text-5xl font-bold tracking-[1.2px] sm:my-18 sm:tracking-[2.4px]"
        style="font-family: 'DM Sans', sans-serif;"
      >
        <div
          class="rectangle2-gradient absolute top-1/2 left-1/12 h-[120px] w-[250px] -translate-y-1/2 sm:h-[190px] sm:w-[300px]"
        >
        </div>

        <h1 class="relative z-10">Informatii tehnice</h1>
      </div>

      <div class="mb-10 flex flex-col gap-8 sm:mb-12 lg:flex-row">
        <div>
          <Heading text="Indicaţii de montaj" />

          <p>
            <b>inclinare maximă</b>
            : 90° cu condiţia respectării prescripţiilor de fixare.
          </p>
          <p>
            <b>inclinare minimă</b>
            : 22°
          </p>
          <p>
            <b>distanţa dintre căpriori:</b>
            <span> Maximum 800 mm.</span>
          </p>
          <p>
            <b>distanţa dintre şipci</b>
            : Maximum 343 mm.
          </p>
          <p>
            <b>dimensiunea şipcilor</b>
            : 30 mm x 50 mm.
          </p>
          <p>
            <b>necesarul de şipci</b>
            : 2,9-3,1 ml/mp în funcţie de suprapunere.
          </p>

          <Heading text="Mod de realizare" />
          <p>Compactare şi extrudare de mare presiune.</p>

          <Heading text="Reglementări" />
          <p>Produs în conformitate cu SR EN 490 şi SR EN 491.</p>
        </div>

        <div>
          <Heading text="Prescripţii minime de fixare" />

          <p>
            <b>Inclinare între 22° şi 45°</b>
            :
          </p>
          <p>
            Toate ţiglele şi lateralele aflate pe perimetru se fixează cu cuie.
          </p>
          <p>
            <b>Inclinare peste 45°</b>
            :
          </p>
          <p>Toate ţiglele şi lateralele se fixează cu cuie.</p>
          <br />
          <p>Coamele se montează cu cleme.</p>
          <p>
            Găurile de fixare se pregătesc anterior montajului, prin găurire cu
            burghiul.
          </p>
          <p>Este necesar montarea sub ţiglă a unui strat de hidroizolaţie.</p>
        </div>
      </div>

      <hr class="my-10 w-full border border-red-400 sm:my-12" />

      <div class="flex flex-col items-start gap-8 lg:flex-row">
        <div>
          <Heading text="Garanție" />
          <p>
            Ţiglele din beton produse de IMCOP sunt garantate 30 de ani de la
            data livrării în condiţiile SR EN 490 şi SR EN 491, a Declaraţiei de
            Performanţă şi a Certificatului de Garanţie eliberate la livrarea
            produselor.
          </p>
          <p>Originalul IMCOP este marcat pe spatele țiglei astfel:</p>
        </div>
        <div class="h-fit shrink-0">
          <Image src={imcop1} alt="IMCOP" width={337} height={208} />
        </div>
      </div>
    </main>

    <PreFooter />
  </div>

  <Footer />
</Layout>
