---
import { Image } from "astro:assets";
import footerLogo from "../assets/images/footer-logo.png";
import locationIcon from "../assets/images/address-icon.svg";
import emailIcon from "../assets/images/email-icon.svg";
import phoneIcon from "../assets/images/telephone-icon.svg";
---

<footer class="py-10">
  <div class="mx-auto max-w-[1200px] px-4 sm:px-6 lg:px-8">
    <div class="my-12 grid gap-8 md:grid-cols-3 lg:gap-12">
      <div>
        <Image src={footerLogo} alt="IMCOP Logo" width={83} height={61} />
        <span class="text-2xl font-bold" style="font-family: 'Lora', serif;">
          IMCOP
        </span>
      </div>

      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-3">
          <Image src={phoneIcon} alt="Phone" />
          <a href="tel:+40264414041" aria-label="Telefon IMCOP">
            +40-264-414041
          </a>
        </div>
        <div class="flex items-center gap-3">
          <Image src={emailIcon} alt="Email" />
          <a href="mailto:imcop@imcop.ro" aria-label="Email IMCOP">
            imcop@imcop.ro
          </a>
        </div>
        <div class="flex items-center gap-3">
          <Image src={locationIcon} alt="Location" />
          <address>
            <div>400420, B-dul Nicolae Titulescu 16/12</div>
            <div>Cluj-Napoca, Cluj</div>
          </address>
        </div>
      </div>

      <nav class="flex flex-col gap-4">
        <a href="/" class="hover:opacity-70">Companie</a>
        <a href="/produse" class="hover:opacity-70">Produse</a>
        <a href="/informatii-tehnice" class="hover:opacity-70"
          >Informatii tehnice</a
        >
        <a href="/parteneri" class="hover:opacity-70">Parteneri</a>
        <a href="/contact" class="hover:opacity-70">Contact</a>
      </nav>
    </div>

    <div class="border-t border-neutral-300 pt-8 text-center">
      <p class="text-sm text-neutral-400">
        2025 © IMCOP S.R.L. | Toate drepturile rezervate. | www.imcop.ro
      </p>
    </div>
  </div>
</footer>
