<div class="mt-6 mb-3 flex items-center gap-2">
  <div class="size-[12px] shrink-0 rounded-sm bg-red-400 sm:size-[15px]"></div>
  <h2 class="text-2xl font-medium text-neutral-500">
    {Astro.props.text}
  </h2>
</div>
