---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";

const currentPath = Astro.url.pathname;
---

<header class="mx-auto max-w-[1200px] py-4">
  <div class="flex justify-between gap-2">
    <a href="/" class="flex items-center gap-2 sm:gap-[10px]">
      <Image src={logo} alt="IMCOP Logo" width={42} height={32} />
      <p
        class="text-[20px] leading-normal font-bold"
        style="font-family: 'Arial', sans-serif;"
      >
        IMCOP
      </p>
    </a>
    <nav class="hidden items-center gap-4 text-lg font-medium md:flex lg:gap-7">
      <a
        href="/"
        class={`block transition-opacity ${
          currentPath === "/" ? "border-b-2 border-primary" : "hover:opacity-60"
        }`}
      >
        Companie
      </a>
      <a
        href="/produse-clasic"
        class={`block transition-opacity ${
          currentPath === "/produse-clasic"
            ? "border-b-2 border-primary"
            : "hover:opacity-60"
        }`}
      >
        Produse
      </a>
      <a
        href="/informatii-tehnice"
        class={`block transition-opacity ${
          currentPath === "/informatii-tehnice"
            ? "border-b-2 border-primary"
            : "hover:opacity-60"
        }`}
      >
        Informatii tehnice
      </a>
      <a
        href="/parteneri"
        class={`block transition-opacity ${
          currentPath === "/parteneri"
            ? "border-b-2 border-primary"
            : "hover:opacity-60"
        }`}
      >
        Parteneri
      </a>
      <a
        href="/contact"
        class={`block transition-opacity ${
          currentPath === "/contact"
            ? "border-b-2 border-primary"
            : "hover:opacity-60"
        }`}
      >
        Contact
      </a>
    </nav>
    <button class="md:hidden" aria-label="Menu">
      <svg
        class="h-6 w-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>
