---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="relative overflow-hidden bg-linear-to-br from-gray-50 to-white">
  <div class="mx-auto max-w-[1200px] px-4 py-16">
    <h1 class="text-4xl tracking-tight text-gray-600">{title}</h1>
  </div><div
    class="absolute right-0 bottom-0 left-0 h-1 bg-linear-to-r from-red-400/20 via-red-500/40 to-red-400/20"
  >
  </div>
</div>
