---
import { Image, type ImageMetadata } from "astro:assets";

interface Props {
  image: ImageMetadata;
  alt: string;
  label: string;
  backgroundColor: string;
}

const { image, alt, label, backgroundColor } = Astro.props;
---

<div
  class="flex flex-col items-center justify-center p-12"
  style={`background-color: ${backgroundColor};`}
>
  <Image
    src={image}
    alt={alt}
    class="w-full max-w-60 drop-shadow-xl drop-shadow-black/40"
  />
  <p class="mt-3 text-center text-white">
    {label}
  </p>
</div>
